<div class="container w-75 d-flex justify-content-center align-items-center mt-5">
    <div class="border custom-create-menu-pad rounded-4 custom-core-bg-color">
        <P class="text-white"><span class="fw-bold">Developer</span> : Pavitharan Rajaratnam</p>
        <p class="text-white"><span class="fw-bold">Course</span> : SOFT807 - Cloud Applications Development</p>
        <p class="text-white"><span class="fw-bold">Programme</span> : Post Graduate Diploma in Information Technology (Software Development)</p>
        <p class="text-white"><span class="fw-bold">School</span> : Auckland Institute of Studies</p>
    </div>
</div>